.first {
  width: 100%;
  margin: 40px 0;
  overflow: hidden;
}
.Box {
  display: flex;
  flex-wrap: wrap;
}
.box1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  flex-wrap: wrap;
  width: 45%;
  padding: 24px 0;
}
.btnbox {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
  font-size: 28px;
  position: relative;
  align-items: center;
  line-height: 48px;
}
.btnbox:hover {
  background-color: black;
  color: #f9f9f9;
  transition: 0.3s;
}
.btn {
  align-items: end;
}
.btn:hover {
  color: #f9f9f9;
}
@media screen and (max-width: 650px) {
  .Box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .box1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 24px 0;
  }
  .btnbox {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    position: relative;
    align-items: center;
    line-height: 40px;
  }
}
